:root {
  /* Color Scheme defines */
  /* TODO:: properly organize this */

  --black: #000;
  --dark_1:#222;
  --dark_2:#272727;
  --yellow:#ffff00;
  --gray:#444;
  --dark_yellow:#e7b621;
  --green:rgb(17, 154, 85);
  --green-light:rgb(129, 234, 181);  

  --bs-dark-rgb:34,34,34; /*override for navbar*/

  --brand-color:#6610f2;
  --brad-color-dark:#400977;
  --brand-highlight:#7327b5;

  --bs-btn-border-color:#6610f2;
  --bs-btn-bg:#6610f2;
}


body {
  padding-top: 8vh;  
  margin: 0px;
  font-size: 14pt;
  font-family: Helvetica;
  background-color: #232324;
  color: #a0a0a0;
}

#AppContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#Widgets {
  width: 80%;
  margin: 0 auto;
  min-height: 100vh;  
  color: white;
}

.widget {      
    background-color: #282c34;
    min-height: 8vh;    
    width: 100%;
    border-radius: 0.4em;
    padding: 1em;
    box-shadow: 2px 2px 10px 0px #000;
    margin: 2em;
}

.widget > .title {    
  justify-content: space-between;    
  font-size:4vh;
  font-weight: bold;
  color:#ddd;
  margin:.2em;  
  
}

.widget > .title > .titleText {
  align-items: left;
}

.widget > .title > span {
  vertical-align: middle;
  text-shadow: #000000 .2vh .2vh ;
}

.widget > .title > .titleText > span > a{
  font-size: 4vh;
  color:#ddd;
  font-weight: bold;
  text-decoration: none;
}

ul.info {
  list-style-type: none;
  
}

ul.info > li {
  border-bottom: 1px solid #5c5c5c;
  padding: .25em;
}

ul.info > li > span{
  font-weight:400;
  color:#eee;
}

.widget > .title >.badges >span {
  height:2vh;
}

.widget > .title > .badges {  
  font-size: 1.6vh;
  justify-content: flex-start;
  display: flex;
  flex-wrap: wrap;
  column-gap: 1vh;
  row-gap: 1vh;
  align-content: center;
}

.widget > .title > .info {  
  font-size: 4vh;  
  font-weight: bold;
  text-decoration: none;
  text-align: right;
 
}

.widget > .title > div.info:hover > svg {  
  font-size: 4vh;  
  font-weight: bold;
  text-decoration: none;
  cursor:pointer;
  
}

.widget > .title > div.info> svg:active  {  
  font-size: 4vh;
  color:var(--green-light);
  font-weight: bold;
  text-decoration: none;
  cursor:pointer;  
  /* border-radius: 0.5em; */
}


.widget_aurora .btn {
  width:100%;
}


#DevicesList > h3 {
  margin-top: 1em;
  margin-bottom: 2em;
}

/* #DeviceControl >  */
.navbar {
  padding:1em;
  border-bottom:1px solid var(--gray);
}

.nav-link {
  font-size: 2vh;
  color:#d0d0d0 !important;
}

.navbar-brand > span {
  color:#BBB;
}


.nav-link.active {
  font-weight: bold;
  color:var(--brand-color) !important;
}


#DeviceControl {
  margin: 0 auto;
}

#DeviceControl, .col > button {  
  margin:.4em auto;
  width:100%;
}

.sliderContainer {
  padding:1em;
}

.AdminWidget {
  padding:1em;
}

div.rule {
  border-top: 1px solid var(--gray);
  border-bottom: 1px solid var(--gray);
  padding:.5em;  
}

div.rule-item {
  border: 1px solid var(--gray);
  padding:1em;
  border-radius:.5em;
}

/* div.rule-item:hover {
  border: 1px solid var(--dark_1);
  background-color:var(--dark_2);
} */

div.rule-row {
  display: flex;
  justify-content: space-between;
  font-size:.9em;
  align-items: flex-end;  
}

div.actions-title {
  font-size:3vh;
  display: flex;
  justify-content: space-between;  
  align-items: center;
}

.rule-action-btns {
  margin-top:1em;
  display: flex;
  justify-content: right;  
}

div.actions-title > span{
  color:var(--green);
  cursor:pointer;
}

span.text-sm {
  font-size:.8em;
}

.sub-section {
  margin-top:1em;
  margin-bottom:.5em;
}

input, select {
  background-color: var(--dark_1);  
  color:var(--dark_yellow);
  border: none;
  border-radius: .2em;  
  outline:none;
  border-bottom: 1px solid var(--dark_yellow);
  padding: 0.25em;
  font-size:.9em;
}


div.separator {
  margin:0 auto;
  margin:.5em;
  border-top:1px solid #000;
  border-bottom: 1px solid #fff;
  height:2px;
  opacity: .2;

}

.RulesWidget {
  padding:1em;
}

.sliderContainer > span {  
  text-transform: capitalize;
  font-weight: bold;
  margin-bottom:.4em;
  display: block;
  color:#BBB
}

.device-item {
  background-color: #202022;
  cursor: pointer;
  padding-left: 2em;
  margin-bottom: 1em;
  width: 100%;
}

.device-item:hover {
  filter: brightness(120%);
}

#ws-overlay {
  position: fixed;
  z-index:99;
  width:100%;
  height:100%;
  background-color:rgba(0,0,0,.5);
  align-items: center;
  justify-content: center;
  display: flex;
}

#ws-overlay > div {
  background-color: #130512;
  color:#853c69;
  text-align: center;
}

.hide {
  visibility: hidden;
  display:none;
}

.badge-warning {
  color:var(--dark_yellow);
  background-color: #171b1f;
}

.battery-warning {
  color:var(--dark_yellow);
}

.elapsed_time {
  justify-items:end;
  justify-content: end;  
  padding: 0.5em;
  display: grid;
}

.sensor_row {
  background-color: #212124;
  color: #eee;
  margin-top:4px;
  justify-content: space-around;
  align-items: center;
  padding:.8em;
}

.sensor_row > .row{  
  padding: 0.5em;
  align-items: center;  
  justify-content: space-between;
}
.plot-buttons {
  margin-top:1em;
}
span.last-seen {
  color:#bbb;
  font-size:1.8vh;
}

.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 


.modal-content {
  background-color: var(--dark_2);
}

.modal-header {
  border:none;
}

.modal-footer {
  border:none;
}